{
    "module": "mindweb-analytics-tracker",
    "domain": "mindweb-tracker.tld",
    "port": "8080",
    "dataStore": "./dataStores/NullDataStore",
    "modules": [
        "./modules/Pixel"
    ]
}
